# OpenAI API Key
OPENAI_API_KEY=
AUTH_SECRET=
NEXTAUTH_URL=
NEXT_PUBLIC_BACKEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Postgres
PGADMIN_EMAIL=
PGADMIN_PASSWORD=


# MongoDB
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_DATABASE=
MONGODB_URI=

# Mongo Express UI
MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASSWORD=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_PUBLIC_URL=
